*.suo
YahooFantasyFootballTools/TestResults
YahooFantasyFootballTools/YahooFantasyFootballTools/bin
YahooFantasyFootballTools/YahooFantasyFootballTools/obj
YahooFantasyFootballTools/YahooFantasyFootballTools.Tests/bin
YahooFantasyFootballTools/YahooFantasyFootballTools.Tests/obj
YahooFantasyFootballTools/Fantasizer/bin
YahooFantasyFootballTools/Fantasizer/obj
YahooFantasyFootballTools/Fantasizer.Tests/bin
YahooFantasyFootballTools/Fantasizer.Tests/obj
YahooFantasyFootballTools/Tools.Analysis/obj
YahooFantasyFootballTools/Tools.Analysis/bin
YahooFantasyFootballTools/Tools.Analysis.Tests/obj
YahooFantasyFootballTools/Tools.Analysis.Tests/bin