*.suo
YahooFantasyFootballTools/TestResults
YahooFantasyFootballTools/YahooFantasyFootballTools/bin
YahooFantasyFootballTools/YahooFantasyFootballTools/obj
YahooFantasyFootballTools/YahooFantasyFootballTools.Tests/bin
YahooFantasyFootballTools/YahooFantasyFootballTools.Tests/obj
YahooFantasyFootballTools/YahooFantasySportsClient/bin
YahooFantasyFootballTools/YahooFantasySportsClient/obj
YahooFantasyFootballTools/YahooFantasySportsClient.Tests/bin
YahooFantasyFootballTools/YahooFantasySportsClient.Tests/obj