body {
    background-color: #d1d0ca;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

footer,
nav,
section {
    display: block;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

#userProfile
{
    float: right;
}

#main {
    padding: 30px 30px 15px 30px;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}



/* Custom styles for YahooFantasyFootballTools
----------------------------------------------------------*/
.btn-list-container
{
	display:inline-block;
}

.btn-block
{
	padding-left: 5px;
	padding-right: 5px;	
}

#keeperSettingsContainer {
    display: inline-block;
}