@model IEnumerable<Fantasizer.Domain.League>

@{
    ViewBag.Title = "Leagues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose a league</h2>
<ul id="leagues" class="unstyled btn-list-container">
 @foreach (Fantasizer.Domain.League league in Model)
 {
    <li>@Html.ActionLink(league.Name, "ListTeams", "League", new { leagueKey = league.Key }, new { @class = "btn btn-large btn-block" })</li>
 }
 </ul>
     