@model YahooFantasyFootballTools.Models.BreadcrumbModel
@using YahooFantasyFootballTools.Helpers;

@if (this.Model != null && this.Model.Items.Count > 0)
{
    <ol id="breadcrumbs">
        @for (int i = 0; i < this.Model.Items.Count; i++)
        {
            var item = this.Model.Items[i];
            <li class="@(item.IsCurrent ? "current-item" : "previous-item")">@Html.Breadcrumb(item)
                @if (i < this.Model.Items.Count - 1)
                {
                    @: >
                }
            </li>
        }
    </ol>
}