@model Fantasizer.Domain.LeagueTeamCollection

@{
    ViewBag.Title = Model.League.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose a team</h2>
<ul id="teams" class="unstyled btn-list-container">
 @foreach (Fantasizer.Domain.Team team in Model.Teams)
 {
    <li>@Html.ActionLink(team.Name, "ShowTeam", "Team", new {teamKey = team.Key}, new { @class = "btn btn-large btn-block" })</li>
 }
 </ul>
<div>
    @Html.ActionLink("Download eligible keeper list for this league", "DownloadEligibleKeepers", "League", new { leagueKey = Model.League.Key }, null)
</div>
 