@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Where your fantasy football teams grow and prosper.</h2>
<div>
    @if (!ViewBag.IsUserAuthenticated)
    {
        @Html.ActionLink("Login to Yahoo", "AuthenticateWithYahoo", null, new { @class = "btn btn-large btn-primary" })
    }
    else
    {
        @Html.ActionLink("View user leagues", "ListLeagues", "User", null, new { @class = "btn btn-large btn-primary" })
    }
</div>
