@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<div>
    @if (!ViewBag.IsUserAuthenticated)
    {
        @Html.ActionLink("Login to Yahoo", "AuthenticateWithYahoo")
        
    }
    else
    {
        @Html.ActionLink("View user leagues", "ListLeagues")
    }
</div>
