@model IEnumerable<YahooFantasySportsClient.Domain.Team>

@{
    ViewBag.Title = "ListTeams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListTeams</h2>
<ul id="teams">
 @foreach (YahooFantasySportsClient.Domain.Team team in Model)
 {
    <li>Id: @team.Id</li>
    <li>Key: @team.Key</li>
    <li>Name: @Html.ActionLink(team.Name, "ListEligibleKeepers", new {teamKey = team.Key}) </li>
    <li>------------------------</li>
 }
 </ul>