@model IEnumerable<Fantasizer.Domain.League>

@{
    ViewBag.Title = "Leagues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListLeagues</h2>
<ul id="leagues">
 @foreach (Fantasizer.Domain.League league in Model)
 {
    <li>Id: @league.Id</li>
    <li>Key: @league.Key</li>
    <li>Name: @Html.ActionLink(league.Name, "ListTeams", new { leagueKey = league.Key })</li>
    <li>------------------------</li>
 }
 </ul>
     