@{
    ViewBag.Title = "Show Response";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TopScripts {
    <link href="@Url.Content("~/Content/Internal.css")" rel="stylesheet" type="text/css" />
}

@using(Html.BeginForm(FormMethod.Get))
{
    <div class="input-append internal-request-input-container">
        @Html.TextBox("appendedInputButton", "http://fantasysports.yahooapis.com/fantasy/v2/", new { @class = "internal-request-input" });
        <button class="btn btn-primary" type="submit">Execute</button>
    </div>
}

@if (ViewBag.XmlResponse != null)
{
    <div class="text-left">
        <pre>@ViewBag.XmlResponse</pre>
    </div>
}
