@model IEnumerable<Tools.Analysis.Domain.EligibleKeeper>

@{
    ViewBag.Title = "Eligible Keepers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListEligibleKeepers</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Player</th>
            <th>Draft round</th>
            <th>Last season points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var keeper in Model)
        {
            <tr>
                <td>@keeper.PlayerName</td>
                @if (keeper.IsEligible)
                {
                    <td>@keeper.DraftRound</td>
                }
                else
                {
                    <td>@keeper.IneligibilityReason</td>
                }
                <td>@keeper.LastSeasonPoints</td>
            </tr>
        }
    </tbody>
</table>