@model YahooFantasyFootballTools.Models.RosterDepthModel

@{
    ViewBag.Title = "Team Roster Depth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team Roster Depth</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Position</th>
            <th>Depth Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var positionDepth in Model.PositionDepths)
        {
            <tr class="@DepthClass(positionDepth.DepthValue)">
                <td>@positionDepth.PositionName</td>
                <td>@positionDepth.DepthName</td>
            </tr>
        }    
    </tbody>
</table>
    
@using Tools.Analysis.Domain;
@functions{
    private string DepthClass(PositionDepth depth)
    {
        switch(depth)
        {
            case PositionDepth.Shallow:
            case PositionDepth.VeryShallow:
                return "error";
            default: return string.Empty;
        }
    }
}