@model YahooFantasyFootballTools.Models.RosterDepthModel

@{
    ViewBag.Title = "Team Roster Depth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team Roster Depth</h2>

<ul id="rosterDepthList">
    @foreach (var positionDepth in Model.PositionDepths)
    {
        <li>@positionDepth.PositionName : @positionDepth.DepthName</li>
    }
</ul>